:root{
	--crust: #181926;
	--mantle: #1e2030;
	--base: #24273a;

	--surface0: #363a4f;
	--surface1: #494d64;
	--surface2: #5b6078;

	--overlay0: #6e738d;
	--overlay1: #8087a2;
	--overlay2: #939ab7;

	--subtext0: #a5adcb;
	--subtext1: #b8c0e0;
	--text: #cad3f5;

	--lavender: #b7bdf8;
	--blue: #8aadf4;
	--sapphire: #7dc4e4;
	--sky: #91d7e3;
	--teal: #8bd5ca;
	--green: #a6da95;
	--yellow: #eed49f;
	--peach: #f5a97f;
	--maroon: #ee99a0;
	--red: #ed8796;
	--mauve: #c6a0f6;
	--pink: #f5bde6;
	--flamingo: #f0c6c6;
	--rosewater: #f4dbd6;
} 	/* Catppuccin Macchiato Color Definitions */

::selection {
	background: var(--overlay2);
	color: var(--rosewater);
}

body {
	background-image: url(images/background.png) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	background-color: var(--base);
	font-family: Helvetica, sans-serif, Arial;
}

.blur {
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filiter: blur(5px);
	height: 100%;
}

h1 {
	color: var(--text);
	text-align: center;
}

.welcome {
	width: 650px;
	padding: 10px;
	margin: 15px;
	margin-bottom: 30px;
	background: var(--mantle);
	border: 2px solid var(--green);
	border-radius: 5px;
	display: block;
	margin: auto;
}

h2 {
	color: var(--text);
	text-align: center;
	flex-wrap: wrap;
}

.tools {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.linuxtool {
	width: 450px;
	padding: 10px;
	margin: 15px;
	margin-bottom: 30px;
	background: var(--mantle);
	border: 2px dashed var(--green);
	border-radius: 5px;
}

.download {
	padding: 2px;
	background: var(--surface0);
	border-radius: 5px;
}

.description {
	height: 75px;
}

p {
	color: var(--subtext1);
	text-align: center;
	font-weight: 700;
}

a:link {
	color: var(--blue);
	text-decoration: none;
}

a:visited {
	color: var(--mauve);
	text-decoration: none;
}

a:hover {
	color: var(--sapphire);
	text-decoration: underline;
}
